* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* utilities */
.section-container {
  width: 100%;
  background-color: #111;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1.5px solid #fff;
  text-align: center;
  width: fit-content;
  margin: auto;
}
/* Nav Bar */

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
}

.navbar-container > ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar-container > ul > li {
  text-transform: uppercase;
}
.navbar-container > ul > li > a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.2rem;
  opacity: 50%;
  transition: color 0.3s ease;
  position: relative;
}
.navbar-container > ul > li > a::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: width 0.4s ease;

  background: #9e9e9e;
  background: linear-gradient(90deg, #9e9e9e, #c4c4c4, #bdbdbd);
  border-radius: 2px;
}

.navbar-container > ul > li > a:hover::after {
  width: 100%;
}
.navbar-container > ul > li > a:hover {
  color: #9e9e9e;
}

/* Show Case*/

.showcase-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/showcase.jpg");
  background-size: cover;
  background-position: center;

  /* overlay */

  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}

.showcase-container > h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

.showcase-container > p {
  color: #eeeeee;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

/* About section */

.about-me-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.about-me-content img {
  width: 320px;
  height: 320px;
  margin-right: 50px;
}
.about-me-content p {
  color: #fff;
  line-height: 2rem;
}

/* HABILIDADES */

.skills-content {
  margin-top: 108px;
  display: flex;
  justify-content: space-between;
}
.skills-content .skill-item {
  background-color: #202020;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-content .skill-item span {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}
.skills-content .skill-item p {
  color: #fff;
  opacity: 75%;
}

.skills-content .skill-item:nth-child(2) {
  margin-left: 50px;
  margin-right: 50px;
}

/* PROJETO */

.project-content {
  margin-top: 118px;
}

.project-content .project-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.project-content .project-item:nth-child(2),
.project-content .project-item:nth-child(4) {
  justify-content: flex-end;
  text-align: right;
}
.project-content .project-item:nth-child(2) > img,
.project-content .project-item:nth-child(4) > img {
  order: 2;
}
.project-content .project-item:nth-child(2) > .project-item-text,
.project-content .project-item:nth-child(4) > .project-item-text {
  order: 1;
  margin-right: 60px;
}
.project-content .project-item > img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-content .project-item .project-item-text {
  margin-left: 60px;
  max-width: 600px;
}
.project-content .project-item .project-item-text h2 {
  color: #fff;
  font-size: 2, 25rem;
  font-weight: 500;
}
.project-content .project-item .project-item-text p {
  color: #fff;
  opacity: 75%;
  margin-top: 15px;
  line-height: 29px;
}

.form-container{
  max-width: 800px ;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.form-container .form-input, .mensage-area{
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  color: #fff;
  opacity: 50%;
  background-color: #202020;
}
.form-container .form-input:focus, .mensage-area:focus{
  outline: 2px solid  rgba(154, 154, 154, 0.279);
}
.mensage-area{
  resize: none;
}

.form-button{
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: 500;
  background-color: #000;
  cursor: pointer;
  transition: 0.5s;

}

.form-button:hover{
  background-color: #020202;
}


footer{
  display: flex;
  width: 100%;
  background-color: #000;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
}
footer > p{
  color: #fff;
}

.social-icone i{
  color: #fff;margin-right: 5px;
}